.elementor-15 .elementor-element.elementor-element-73ddf4d {
  margin-top: 0px;
  margin-bottom: -100px;
  padding: 2px 2px 2px 2px;
  z-index: 5;
}
.elementor-bc-flex-widget
  .elementor-15
  .elementor-element.elementor-element-9ba4439.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-15
  .elementor-element.elementor-element-9ba4439.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-15
  .elementor-element.elementor-element-9ba4439.elementor-column
  > .elementor-widget-wrap {
  justify-content: flex-start;
}
.elementor-15 .elementor-element.elementor-element-8d60216 {
  text-align: center;
  width: auto;
  max-width: auto;
  z-index: 1;
}
.elementor-15
  .elementor-element.elementor-element-8d60216
  .elementor-heading-title {
  color: #000000;
  font-family: "Swanky and Moo Moo", Sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-15
  .elementor-element.elementor-element-8d60216
  > .elementor-widget-container {
  margin: 0px 0px 10px 0px;
  --e-transform-rotateZ: -3deg;
}
.elementor-bc-flex-widget
  .elementor-15
  .elementor-element.elementor-element-797b13e.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-15
  .elementor-element.elementor-element-797b13e.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-15
  .elementor-element.elementor-element-797b13e.elementor-column
  > .elementor-widget-wrap {
  justify-content: flex-end;
}
.elementor-15
  .elementor-element.elementor-element-fc26ffb
  .elementor-button
  .elementor-align-icon-right {
  margin-left: 12px;
}
.elementor-15
  .elementor-element.elementor-element-fc26ffb
  .elementor-button
  .elementor-align-icon-left {
  margin-right: 12px;
}
.elementor-15 .elementor-element.elementor-element-fc26ffb .elementor-button {
  font-family: "Swanky and Moo Moo", Sans-serif;
  font-size: 18px;
  font-weight: 500;
  background-color: #000000;
  border-radius: 396px 396px 396px 396px;
  padding: 9px 9px 9px 9px;
}
.elementor-15
  .elementor-element.elementor-element-fc26ffb
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-15 .elementor-element.elementor-element-fc26ffb {
  width: auto;
  max-width: auto;
  align-self: center;
}
.elementor-15
  .elementor-element.elementor-element-257722e
  .elementor-repeater-item-d954024.elementor-social-icon {
  background-color: #02010100;
}
.elementor-15
  .elementor-element.elementor-element-257722e
  .elementor-repeater-item-d954024.elementor-social-icon
  i {
  color: #000000;
}
.elementor-15
  .elementor-element.elementor-element-257722e
  .elementor-repeater-item-d954024.elementor-social-icon
  svg {
  fill: #000000;
}
.elementor-15
  .elementor-element.elementor-element-257722e
  .elementor-repeater-item-6bb3b70.elementor-social-icon {
  background-color: #02010100;
}
.elementor-15
  .elementor-element.elementor-element-257722e
  .elementor-repeater-item-6bb3b70.elementor-social-icon
  i {
  color: #000000;
}
.elementor-15
  .elementor-element.elementor-element-257722e
  .elementor-repeater-item-6bb3b70.elementor-social-icon
  svg {
  fill: #000000;
}
.elementor-15 .elementor-element.elementor-element-257722e {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 18px;
  --grid-column-gap: 5px;
  --grid-row-gap: 0px;
  width: auto;
  max-width: auto;
}
.elementor-15
  .elementor-element.elementor-element-257722e
  .elementor-widget-container {
  text-align: center;
}
.elementor-15
  .elementor-element.elementor-element-636410b
  > .elementor-container {
  max-width: 1300px;
}
.elementor-15
  .elementor-element.elementor-element-636410b:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-15
  .elementor-element.elementor-element-636410b
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-15
  .elementor-element.elementor-element-636410b
  > .elementor-background-overlay {
  background-image: url("../../2024/01/4.png");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.02;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-15 .elementor-element.elementor-element-636410b {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 3% 0% 3% 0%;
}
.elementor-bc-flex-widget
  .elementor-15
  .elementor-element.elementor-element-3b1b065.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-15
  .elementor-element.elementor-element-3b1b065.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-15
  .elementor-element.elementor-element-3b1b065.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-15
  .elementor-element.elementor-element-3b1b065
  > .elementor-element-populated
  > .elementor-background-overlay {
  opacity: 0.5;
}
.elementor-15
  .elementor-element.elementor-element-3b1b065
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 125px 25px 25px 25px;
}
.elementor-15
  .elementor-element.elementor-element-3b1b065
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-15 .elementor-element.elementor-element-5803b98 img {
  width: 100%;
}
.elementor-15 .elementor-element.elementor-element-5803b98 {
  width: var(--container-widget-width, 20%);
  max-width: 20%;
  --container-widget-width: 20%;
  --container-widget-flex-grow: 0;
  z-index: 1;
}
.elementor-15 .elementor-element.elementor-element-bfe8c32 {
  text-align: center;
  z-index: 2;
}
.elementor-15
  .elementor-element.elementor-element-bfe8c32
  .elementor-heading-title {
  color: #000000;
  font-family: "Swanky and Moo Moo", Sans-serif;
  font-size: 100px;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-15
  .elementor-element.elementor-element-bfe8c32
  > .elementor-widget-container {
  margin: 0px 0px 10px 0px;
  --e-transform-rotateZ: -3deg;
}
.elementor-15 .elementor-element.elementor-element-b342010 {
  text-align: center;
  z-index: 1;
}
.elementor-15
  .elementor-element.elementor-element-b342010
  .elementor-heading-title {
  color: #08AC06;
  font-family: "Swanky and Moo Moo", Sans-serif;
  font-size: 75px;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-15
  .elementor-element.elementor-element-b342010
  > .elementor-widget-container {
  margin: -54px 0px -15px 0px;
  --e-transform-rotateZ: -3deg;
}
.elementor-15 .elementor-element.elementor-element-00afcb3 {
  text-align: center;
  z-index: 1;
}
.elementor-15
  .elementor-element.elementor-element-00afcb3
  .elementor-heading-title {
  color: #000000;
  font-family: "Swanky and Moo Moo", Sans-serif;
  font-size: 45px;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-15
  .elementor-element.elementor-element-00afcb3
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  --e-transform-rotateZ: -3deg;
}
.elementor-15 .elementor-element.elementor-element-e5c56bd {
  --divider-border-style: dots_tribal;
  --divider-color: #000;
  --divider-pattern-height: 26.2px;
  z-index: 1;
}
.elementor-15
  .elementor-element.elementor-element-e5c56bd
  .elementor-divider-separator {
  width: 100%;
}
.elementor-15 .elementor-element.elementor-element-e5c56bd .elementor-divider {
  padding-top: 2px;
  padding-bottom: 2px;
}
.elementor-15
  .elementor-element.elementor-element-e5c56bd
  > .elementor-widget-container {
  --e-transform-rotateZ: 1deg;
}
.elementor-15 .elementor-element.elementor-element-5781457 {
  z-index: 0;
}
.elementor-15
  .elementor-element.elementor-element-33cc015
  > .elementor-container {
  max-width: 1600px;
}
.elementor-15 .elementor-element.elementor-element-33cc015 {
  margin-top: 50px;
  margin-bottom: 50px;
  z-index: 1;
}
.elementor-bc-flex-widget
  .elementor-15
  .elementor-element.elementor-element-e07c5aa.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-15
  .elementor-element.elementor-element-e07c5aa.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-15
  .elementor-element.elementor-element-e07c5aa.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-15
  .elementor-element.elementor-element-e07c5aa
  > .elementor-element-populated {
  margin: 30px 30px 30px 30px;
  --e-column-margin-right: 30px;
  --e-column-margin-left: 30px;
}
.elementor-15 .elementor-element.elementor-element-febe512 img {
  width: 100%;
}
.elementor-15 .elementor-element.elementor-element-febe512 {
  width: var(--container-widget-width, 100%);
  max-width: 100%;
  --container-widget-width: 100%;
  --container-widget-flex-grow: 0;
}
.elementor-15
  .elementor-element.elementor-element-febe512
  > .elementor-widget-container {
  --e-transform-flipX: -1;
}
.elementor-bc-flex-widget
  .elementor-15
  .elementor-element.elementor-element-468a011.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-15
  .elementor-element.elementor-element-468a011.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-15
  .elementor-element.elementor-element-468a011.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-15 .elementor-element.elementor-element-716392f {
  text-align: center;
  z-index: 0;
}
.elementor-15
  .elementor-element.elementor-element-716392f
  .elementor-heading-title {
  color: #000000;
  font-family: "Swanky and Moo Moo", Sans-serif;
  font-size: 75px;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-15
  .elementor-element.elementor-element-716392f
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  --e-transform-rotateZ: 4deg;
}
.elementor-15 .elementor-element.elementor-element-c365ae7 {
  --divider-border-style: dots_tribal;
  --divider-color: #000;
  --divider-pattern-height: 26.2px;
}
.elementor-15
  .elementor-element.elementor-element-c365ae7
  .elementor-divider-separator {
  width: 100%;
}
.elementor-15 .elementor-element.elementor-element-c365ae7 .elementor-divider {
  padding-top: 2px;
  padding-bottom: 2px;
}
.elementor-15 .elementor-element.elementor-element-2c76f78 {
  text-align: center;
  color: #636363;
  font-family: "Swanky and Moo Moo", Sans-serif;
  font-size: 25px;
  font-weight: 400;
}
.elementor-15
  .elementor-element.elementor-element-2c76f78
  > .elementor-widget-container {
  margin: 0px 0px -15px 0px;
}
.elementor-15
  .elementor-element.elementor-element-9b811ed
  .elementor-button
  .elementor-align-icon-right {
  margin-left: 5px;
}
.elementor-15
  .elementor-element.elementor-element-9b811ed
  .elementor-button
  .elementor-align-icon-left {
  margin-right: 5px;
}
.elementor-15 .elementor-element.elementor-element-9b811ed .elementor-button {
  font-family: "Swanky and Moo Moo", Sans-serif;
  font-size: 18px;
  font-weight: 500;
  background-color: #000000;
  border-radius: 396px 396px 396px 396px;
  padding: 9px 9px 9px 9px;
}
.elementor-15
  .elementor-element.elementor-element-9b811ed
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-15 .elementor-element.elementor-element-9b811ed {
  width: auto;
  max-width: auto;
  align-self: center;
}
.elementor-15
  .elementor-element.elementor-element-f980162
  .elementor-button
  .elementor-align-icon-right {
  margin-left: 5px;
}
.elementor-15
  .elementor-element.elementor-element-f980162
  .elementor-button
  .elementor-align-icon-left {
  margin-right: 5px;
}
.elementor-15 .elementor-element.elementor-element-f980162 .elementor-button {
  font-family: "Swanky and Moo Moo", Sans-serif;
  font-size: 18px;
  font-weight: 500;
  background-color: #000000;
  border-radius: 396px 396px 396px 396px;
  padding: 9px 9px 9px 9px;
}
.elementor-15
  .elementor-element.elementor-element-f980162
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-15 .elementor-element.elementor-element-f980162 {
  width: auto;
  max-width: auto;
  align-self: center;
}
.elementor-bc-flex-widget
  .elementor-15
  .elementor-element.elementor-element-a3a2efa.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-15
  .elementor-element.elementor-element-a3a2efa.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-15
  .elementor-element.elementor-element-a3a2efa
  > .elementor-element-populated
  > .elementor-background-overlay {
  background-image: url("../../2024/01/4.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.1;
}
.elementor-15
  .elementor-element.elementor-element-a3a2efa
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-15
  .elementor-element.elementor-element-a3a2efa
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-15 .elementor-element.elementor-element-e9ddcad {
  text-align: center;
  z-index: 0;
}
.elementor-15
  .elementor-element.elementor-element-e9ddcad
  .elementor-heading-title {
  color: #000000;
  font-family: "Swanky and Moo Moo", Sans-serif;
  font-size: 65px;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-15
  .elementor-element.elementor-element-e9ddcad
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  --e-transform-rotateZ: 4deg;
}
.elementor-15 .elementor-element.elementor-element-40c6374 {
  text-align: center;
  z-index: 0;
}
.elementor-15
  .elementor-element.elementor-element-40c6374
  .elementor-heading-title {
  color: #08AC06;
  font-family: "Swanky and Moo Moo", Sans-serif;
  font-size: 55px;
  font-weight: 600;
  text-transform: uppercase;
  font-style: italic;
  text-decoration: overline;
}
.elementor-15
  .elementor-element.elementor-element-40c6374
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  --e-transform-rotateZ: 4deg;
}
.elementor-15 .elementor-element.elementor-element-a3e2162 {
  text-align: center;
  z-index: 0;
}
.elementor-15
  .elementor-element.elementor-element-a3e2162
  .elementor-heading-title {
  color: #000000;
  font-family: "Swanky and Moo Moo", Sans-serif;
  font-size: 65px;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-15
  .elementor-element.elementor-element-a3e2162
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  --e-transform-rotateZ: -4deg;
}
.elementor-15 .elementor-element.elementor-element-292e48b {
  text-align: center;
  z-index: 0;
}
.elementor-15
  .elementor-element.elementor-element-292e48b
  .elementor-heading-title {
  color: #08AC06;
  font-family: "Swanky and Moo Moo", Sans-serif;
  font-size: 55px;
  font-weight: 600;
  text-transform: uppercase;
  font-style: italic;
  text-decoration: overline;
}
.elementor-15
  .elementor-element.elementor-element-292e48b
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  --e-transform-rotateZ: -4deg;
}
.elementor-15
  .elementor-element.elementor-element-a2d0062
  > .elementor-container {
  max-width: 1600px;
}
.elementor-15 .elementor-element.elementor-element-a2d0062 {
  z-index: 1;
}
.elementor-bc-flex-widget
  .elementor-15
  .elementor-element.elementor-element-9de2d1b.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-15
  .elementor-element.elementor-element-9de2d1b.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-15
  .elementor-element.elementor-element-9de2d1b
  > .elementor-element-populated
  > .elementor-background-overlay {
  background-image: url("../../2024/01/4.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.1;
}
.elementor-15
  .elementor-element.elementor-element-9de2d1b
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-15
  .elementor-element.elementor-element-9de2d1b
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-15
  .elementor-element.elementor-element-b91605e.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-15
  .elementor-element.elementor-element-b91605e.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-15
  .elementor-element.elementor-element-b91605e.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-15
  .elementor-element.elementor-element-b91605e
  > .elementor-element-populated {
  margin: 10px 10px 10px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-15 .elementor-element.elementor-element-e566e41 {
  text-align: center;
  width: auto;
  max-width: auto;
  z-index: 0;
}
.elementor-15
  .elementor-element.elementor-element-e566e41
  .elementor-heading-title {
  color: #000000;
  font-family: "Swanky and Moo Moo", Sans-serif;
  font-size: 120px;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-15
  .elementor-element.elementor-element-e566e41
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  --e-transform-rotateZ: 4deg;
}
.elementor-15 .elementor-element.elementor-element-beb88a7 {
  text-align: center;
  z-index: 0;
}
.elementor-15
  .elementor-element.elementor-element-beb88a7
  .elementor-heading-title {
  color: #08AC06;
  font-family: "Swanky and Moo Moo", Sans-serif;
  font-size: 55px;
  font-weight: 600;
  text-transform: uppercase;
  font-style: italic;
  text-decoration: overline;
}
.elementor-15
  .elementor-element.elementor-element-beb88a7
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  --e-transform-rotateZ: 4deg;
}
.elementor-bc-flex-widget
  .elementor-15
  .elementor-element.elementor-element-97f44df.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-15
  .elementor-element.elementor-element-97f44df.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-15
  .elementor-element.elementor-element-97f44df.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-15
  .elementor-element.elementor-element-97f44df
  > .elementor-element-populated {
  margin: 10px 10px 10px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-15 .elementor-element.elementor-element-c29d22f {
  text-align: center;
  width: auto;
  max-width: auto;
  z-index: 0;
}
.elementor-15
  .elementor-element.elementor-element-c29d22f
  .elementor-heading-title {
  color: #000000;
  font-family: "Swanky and Moo Moo", Sans-serif;
  font-size: 120px;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-15
  .elementor-element.elementor-element-c29d22f
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-15 .elementor-element.elementor-element-4de1936 {
  text-align: center;
  z-index: 0;
}
.elementor-15
  .elementor-element.elementor-element-4de1936
  .elementor-heading-title {
  color: #08AC06;
  font-family: "Swanky and Moo Moo", Sans-serif;
  font-size: 55px;
  font-weight: 600;
  text-transform: uppercase;
  font-style: italic;
  text-decoration: overline;
}
.elementor-15
  .elementor-element.elementor-element-4de1936
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-bc-flex-widget
  .elementor-15
  .elementor-element.elementor-element-fc03330.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-15
  .elementor-element.elementor-element-fc03330.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-15
  .elementor-element.elementor-element-fc03330.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-15
  .elementor-element.elementor-element-fc03330
  > .elementor-element-populated {
  margin: 10px 10px 10px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-15 .elementor-element.elementor-element-1e82e2e {
  text-align: center;
  width: auto;
  max-width: auto;
  z-index: 0;
}
.elementor-15
  .elementor-element.elementor-element-1e82e2e
  .elementor-heading-title {
  color: #000000;
  font-family: "Swanky and Moo Moo", Sans-serif;
  font-size: 120px;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-15
  .elementor-element.elementor-element-1e82e2e
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  --e-transform-rotateZ: -4deg;
}
.elementor-15 .elementor-element.elementor-element-cafc5e0 {
  text-align: center;
  z-index: 0;
}
.elementor-15
  .elementor-element.elementor-element-cafc5e0
  .elementor-heading-title {
  color: #08AC06;
  font-family: "Swanky and Moo Moo", Sans-serif;
  font-size: 55px;
  font-weight: 600;
  text-transform: uppercase;
  font-style: italic;
  text-decoration: overline;
}
.elementor-15
  .elementor-element.elementor-element-cafc5e0
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  --e-transform-rotateZ: -3deg;
}
.elementor-15
  .elementor-element.elementor-element-575109d
  > .elementor-container {
  max-width: 1600px;
}
.elementor-15 .elementor-element.elementor-element-575109d {
  margin-top: 50px;
  margin-bottom: 50px;
  z-index: 1;
}
.elementor-bc-flex-widget
  .elementor-15
  .elementor-element.elementor-element-74e2e2b.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-15
  .elementor-element.elementor-element-74e2e2b.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-15
  .elementor-element.elementor-element-74e2e2b.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-15
  .elementor-element.elementor-element-74e2e2b
  > .elementor-element-populated {
  margin: 30px 30px 30px 30px;
  --e-column-margin-right: 30px;
  --e-column-margin-left: 30px;
}
.elementor-15 .elementor-element.elementor-element-bc4e41d img {
  width: 100%;
}
.elementor-15
  .elementor-element.elementor-element-bc4e41d
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
  --e-transform-rotateZ: -1deg;
  --e-transform-rotateX: -5deg;
  --e-transform-perspective: 250px;
  --e-transform-rotateY: -1deg;
}
.elementor-15 .elementor-element.elementor-element-bc4e41d {
  width: var(--container-widget-width, 100%);
  max-width: 100%;
  --container-widget-width: 100%;
  --container-widget-flex-grow: 0;
}
.elementor-15 .elementor-element.elementor-element-056ef04 img {
  width: 100%;
}
.elementor-15
  .elementor-element.elementor-element-056ef04
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
  --e-transform-rotateZ: 0deg;
  --e-transform-rotateX: 5deg;
  --e-transform-perspective: 250px;
}
.elementor-15 .elementor-element.elementor-element-056ef04 {
  width: var(--container-widget-width, 100%);
  max-width: 100%;
  --container-widget-width: 100%;
  --container-widget-flex-grow: 0;
}
.elementor-bc-flex-widget
  .elementor-15
  .elementor-element.elementor-element-82790d8.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-15
  .elementor-element.elementor-element-82790d8.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-15
  .elementor-element.elementor-element-82790d8.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-15
  .elementor-element.elementor-element-82790d8
  > .elementor-element-populated
  > .elementor-background-overlay {
  background-image: url("../../2024/01/4.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.1;
}
.elementor-15
  .elementor-element.elementor-element-82790d8
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-15
  .elementor-element.elementor-element-82790d8
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-15 .elementor-element.elementor-element-73c9dd2 {
  text-align: center;
  z-index: 0;
}
.elementor-15
  .elementor-element.elementor-element-73c9dd2
  .elementor-heading-title {
  color: #000000;
  font-family: "Swanky and Moo Moo", Sans-serif;
  font-size: 75px;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-15
  .elementor-element.elementor-element-73c9dd2
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  --e-transform-rotateZ: -4deg;
}
.elementor-15 .elementor-element.elementor-element-9405a20 {
  text-align: center;
  z-index: 0;
}
.elementor-15
  .elementor-element.elementor-element-9405a20
  .elementor-heading-title {
  color: #08AC06;
  font-family: "Swanky and Moo Moo", Sans-serif;
  font-size: 55px;
  font-weight: 600;
  text-transform: uppercase;
  font-style: italic;
  text-decoration: overline;
}
.elementor-15
  .elementor-element.elementor-element-9405a20
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  --e-transform-rotateZ: -4deg;
}
.elementor-15 .elementor-element.elementor-element-dd9b349 {
  --divider-border-style: dots_tribal;
  --divider-color: #000;
  --divider-pattern-height: 26.2px;
}
.elementor-15
  .elementor-element.elementor-element-dd9b349
  .elementor-divider-separator {
  width: 100%;
}
.elementor-15 .elementor-element.elementor-element-dd9b349 .elementor-divider {
  padding-top: 2px;
  padding-bottom: 2px;
}
.elementor-15 .elementor-element.elementor-element-50cddab {
  text-align: center;
  color: #636363;
  font-family: "Swanky and Moo Moo", Sans-serif;
  font-size: 25px;
  font-weight: 400;
}
.elementor-15
  .elementor-element.elementor-element-50cddab
  > .elementor-widget-container {
  margin: -35px 0px -15px 0px;
}
.elementor-15
  .elementor-element.elementor-element-6799a56
  .elementor-button
  .elementor-align-icon-right {
  margin-left: 12px;
}
.elementor-15
  .elementor-element.elementor-element-6799a56
  .elementor-button
  .elementor-align-icon-left {
  margin-right: 12px;
}
.elementor-15 .elementor-element.elementor-element-6799a56 .elementor-button {
  font-family: "Swanky and Moo Moo", Sans-serif;
  font-size: 15px;
  font-weight: 500;
  background-color: #000000;
  border-radius: 396px 396px 396px 396px;
  padding: 9px 9px 9px 9px;
}
.elementor-15
  .elementor-element.elementor-element-6799a56
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-15 .elementor-element.elementor-element-6799a56 {
  width: auto;
  max-width: auto;
  align-self: center;
}
.elementor-15
  .elementor-element.elementor-element-2a96682
  .elementor-button
  .elementor-align-icon-right {
  margin-left: 10px;
}
.elementor-15
  .elementor-element.elementor-element-2a96682
  .elementor-button
  .elementor-align-icon-left {
  margin-right: 10px;
}
.elementor-15 .elementor-element.elementor-element-2a96682 .elementor-button {
  font-family: "Swanky and Moo Moo", Sans-serif;
  font-size: 15px;
  font-weight: 500;
  background-color: #000000;
  border-radius: 396px 396px 396px 396px;
  padding: 9px 9px 9px 9px;
}
.elementor-15
  .elementor-element.elementor-element-2a96682
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-15 .elementor-element.elementor-element-2a96682 {
  width: auto;
  max-width: auto;
  align-self: center;
}
.elementor-15 .elementor-element.elementor-element-86ee0f0 {
  --divider-border-style: dots_tribal;
  --divider-color: #000;
  --divider-pattern-height: 26.2px;
  z-index: 1;
}
.elementor-15
  .elementor-element.elementor-element-86ee0f0
  .elementor-divider-separator {
  width: 100%;
}
.elementor-15 .elementor-element.elementor-element-86ee0f0 .elementor-divider {
  padding-top: 2px;
  padding-bottom: 2px;
}
.elementor-15
  .elementor-element.elementor-element-86ee0f0
  > .elementor-widget-container {
  --e-transform-rotateZ: 1deg;
}
.elementor-15
  .elementor-element.elementor-element-86aa033
  > .elementor-container {
  max-width: 1600px;
}
.elementor-15 .elementor-element.elementor-element-86aa033 {
  margin-top: 50px;
  margin-bottom: 50px;
  z-index: 1;
}
.elementor-bc-flex-widget
  .elementor-15
  .elementor-element.elementor-element-544f341.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-15
  .elementor-element.elementor-element-544f341.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-15
  .elementor-element.elementor-element-544f341.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-15 .elementor-element.elementor-element-b8ed31d {
  text-align: center;
  z-index: 1;
}
.elementor-15
  .elementor-element.elementor-element-b8ed31d
  .elementor-heading-title {
  color: #000000;
  font-family: "Swanky and Moo Moo", Sans-serif;
  font-size: 100px;
  font-weight: 600;
  text-transform: uppercase;
}
.elementor-15
  .elementor-element.elementor-element-b8ed31d
  > .elementor-widget-container {
  margin: 0px 0px 10px 0px;
  --e-transform-rotateZ: -3deg;
}
.elementor-15 .elementor-element.elementor-element-418e5d2 {
  text-align: center;
  z-index: 0;
}
.elementor-15
  .elementor-element.elementor-element-418e5d2
  .elementor-heading-title {
  color: #08AC06;
  font-family: "Swanky and Moo Moo", Sans-serif;
  font-size: 55px;
  font-weight: 600;
  text-transform: uppercase;
  font-style: italic;
  text-decoration: overline;
}
.elementor-15
  .elementor-element.elementor-element-418e5d2
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  --e-transform-rotateZ: -4deg;
}
.elementor-15
  .elementor-element.elementor-element-b651c75
  .elementor-button
  .elementor-align-icon-right {
  margin-left: 5px;
}
.elementor-15
  .elementor-element.elementor-element-b651c75
  .elementor-button
  .elementor-align-icon-left {
  margin-right: 5px;
}
.elementor-15 .elementor-element.elementor-element-b651c75 .elementor-button {
  font-family: "Swanky and Moo Moo", Sans-serif;
  font-size: 18px;
  font-weight: 500;
  background-color: #000000;
  border-radius: 396px 396px 396px 396px;
  padding: 9px 9px 9px 9px;
}
.elementor-15
  .elementor-element.elementor-element-b651c75
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-15 .elementor-element.elementor-element-b651c75 {
  width: auto;
  max-width: auto;
  align-self: center;
}
.elementor-15
  .elementor-element.elementor-element-5b98810
  .elementor-button
  .elementor-align-icon-right {
  margin-left: 5px;
}
.elementor-15
  .elementor-element.elementor-element-5b98810
  .elementor-button
  .elementor-align-icon-left {
  margin-right: 5px;
}
.elementor-15 .elementor-element.elementor-element-5b98810 .elementor-button {
  font-family: "Swanky and Moo Moo", Sans-serif;
  font-size: 18px;
  font-weight: 500;
  background-color: #000000;
  border-radius: 396px 396px 396px 396px;
  padding: 9px 9px 9px 9px;
}
.elementor-15
  .elementor-element.elementor-element-5b98810
  > .elementor-widget-container {
  margin: 5px 5px 5px 5px;
}
.elementor-15 .elementor-element.elementor-element-5b98810 {
  width: auto;
  max-width: auto;
  align-self: center;
}
.elementor-bc-flex-widget
  .elementor-15
  .elementor-element.elementor-element-8fc4cf2.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-15
  .elementor-element.elementor-element-8fc4cf2.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-15
  .elementor-element.elementor-element-8fc4cf2.elementor-column
  > .elementor-widget-wrap {
  justify-content: flex-start;
}
.elementor-15 .elementor-element.elementor-element-0899603 {
  text-align: center;
  width: var(--container-widget-width, 50%);
  max-width: 50%;
  --container-widget-width: 50%;
  --container-widget-flex-grow: 0;
  z-index: 1;
}
.elementor-15 .elementor-element.elementor-element-0899603 img {
  width: 100%;
}
.elementor-15
  .elementor-element.elementor-element-7c8c6f2:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-15
  .elementor-element.elementor-element-7c8c6f2
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000000;
}
.elementor-15 .elementor-element.elementor-element-7c8c6f2 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 2px 2px 2px 2px;
}
.elementor-15
  .elementor-element.elementor-element-7c8c6f2
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-15
  .elementor-element.elementor-element-237ba72.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-15
  .elementor-element.elementor-element-237ba72.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-15
  .elementor-element.elementor-element-237ba72.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-15 .elementor-element.elementor-element-fcdb268 {
  text-align: center;
  width: var(--container-widget-width, 2%);
  max-width: 2%;
  --container-widget-width: 2%;
  --container-widget-flex-grow: 0;
  z-index: 1;
}
.elementor-15 .elementor-element.elementor-element-fcdb268 img {
  width: 100%;
}
.elementor-15 .elementor-element.elementor-element-1e98191 {
  text-align: center;
}
.elementor-15
  .elementor-element.elementor-element-1e98191
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Swanky and Moo Moo", Sans-serif;
  font-size: 25px;
  font-weight: 600;
}
@media (max-width: 1024px) {
  .elementor-15 .elementor-element.elementor-element-5803b98 {
    --container-widget-width: 227px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 227px);
    max-width: 227px;
  }
  .elementor-15
    .elementor-element.elementor-element-00afcb3
    .elementor-heading-title {
    font-size: 25px;
  }
  .elementor-15
    .elementor-element.elementor-element-e07c5aa
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-15 .elementor-element.elementor-element-febe512 {
    --container-widget-width: 1000px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 1000px);
    max-width: 1000px;
  }
  .elementor-15
    .elementor-element.elementor-element-716392f
    .elementor-heading-title {
    font-size: 60px;
  }
  .elementor-15
    .elementor-element.elementor-element-e9ddcad
    .elementor-heading-title {
    font-size: 55px;
  }
  .elementor-15
    .elementor-element.elementor-element-40c6374
    .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-15
    .elementor-element.elementor-element-a3e2162
    .elementor-heading-title {
    font-size: 55px;
  }
  .elementor-15
    .elementor-element.elementor-element-292e48b
    .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-15 .elementor-element.elementor-element-bc4e41d {
    --container-widget-width: 500px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 500px);
    max-width: 500px;
  }
  .elementor-15 .elementor-element.elementor-element-056ef04 {
    --container-widget-width: 500px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 500px);
    max-width: 500px;
  }
  .elementor-15
    .elementor-element.elementor-element-8fc4cf2
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-15 .elementor-element.elementor-element-0899603 {
    --container-widget-width: 246px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 246px);
    max-width: 246px;
  }
  .elementor-15 .elementor-element.elementor-element-fcdb268 img {
    width: 15%;
  }
  .elementor-15 .elementor-element.elementor-element-fcdb268 {
    --container-widget-width: 246px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 246px);
    max-width: 246px;
  }
}
@media (max-width: 767px) {
  .elementor-15
    .elementor-element.elementor-element-9ba4439.elementor-column
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-15
    .elementor-element.elementor-element-8d60216
    .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-15
    .elementor-element.elementor-element-797b13e.elementor-column
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-15 .elementor-element.elementor-element-5803b98 {
    --container-widget-width: 211px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 211px);
    max-width: 211px;
  }
  .elementor-15
    .elementor-element.elementor-element-bfe8c32
    .elementor-heading-title {
    font-size: 81px;
  }
  .elementor-15
    .elementor-element.elementor-element-b342010
    .elementor-heading-title {
    font-size: 65px;
  }
  .elementor-15
    .elementor-element.elementor-element-b342010
    > .elementor-widget-container {
    margin: -39px 0px 0px 0px;
  }
  .elementor-15
    .elementor-element.elementor-element-00afcb3
    .elementor-heading-title {
    font-size: 14px;
  }
  .elementor-15
    .elementor-element.elementor-element-00afcb3
    > .elementor-widget-container {
    margin: -20px 0px 0px 0px;
  }
  .elementor-15 .elementor-element.elementor-element-33cc015 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .elementor-15
    .elementor-element.elementor-element-e07c5aa
    > .elementor-element-populated {
    margin: 5px 5px 5px 5px;
    --e-column-margin-right: 5px;
    --e-column-margin-left: 5px;
  }
  .elementor-15 .elementor-element.elementor-element-febe512 img {
    width: 75%;
  }
  .elementor-15
    .elementor-element.elementor-element-716392f
    .elementor-heading-title {
    font-size: 70px;
  }
  .elementor-15
    .elementor-element.elementor-element-a3a2efa
    > .elementor-element-populated {
    margin: 5px 5px 5px 5px;
    --e-column-margin-right: 5px;
    --e-column-margin-left: 5px;
  }
  .elementor-15
    .elementor-element.elementor-element-74e2e2b
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-15
    .elementor-element.elementor-element-73c9dd2
    .elementor-heading-title {
    font-size: 55px;
  }
  .elementor-15
    .elementor-element.elementor-element-9405a20
    .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-15
    .elementor-element.elementor-element-50cddab
    > .elementor-widget-container {
    margin: -35px 0px -15px 0px;
  }
  .elementor-15 .elementor-element.elementor-element-86aa033 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .elementor-15
    .elementor-element.elementor-element-b8ed31d
    .elementor-heading-title {
    font-size: 70px;
  }
  .elementor-15
    .elementor-element.elementor-element-418e5d2
    .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-15 .elementor-element.elementor-element-0899603 {
    --container-widget-width: 211px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 211px);
    max-width: 211px;
  }
  .elementor-15 .elementor-element.elementor-element-fcdb268 img {
    width: 12%;
  }
  .elementor-15 .elementor-element.elementor-element-fcdb268 {
    --container-widget-width: 211px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 211px);
    max-width: 211px;
  }
  .elementor-15
    .elementor-element.elementor-element-1e98191
    .elementor-heading-title {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .elementor-15 .elementor-element.elementor-element-e07c5aa {
    width: 30%;
  }
  .elementor-15 .elementor-element.elementor-element-468a011 {
    width: 39.333%;
  }
  .elementor-15 .elementor-element.elementor-element-a3a2efa {
    width: 30%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-15 .elementor-element.elementor-element-74e2e2b {
    width: 100%;
  }
  .elementor-15 .elementor-element.elementor-element-82790d8 {
    width: 100%;
  }
} /* Start custom CSS for image, class: .elementor-element-5803b98 */
@keyframes rotateBackAndForth {
  0% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}

.rotate {
  object-fit: cover;
  animation: rotateBackAndForth 2s ease-in-out infinite;
} /* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-febe512 */
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.shake-effect {
  animation: shake 5s ease-in-out infinite;
} /* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-0899603 */
@keyframes motion-blur {
  0% {
    left: 0;
  }
  5% {
    left: 0;
    transform-origin: 0 0;
    transform: scaleX(0.85);
  }
  25% {
    transform: scaleX(1.05) skewX(-3deg);
  }
  50% {
    left: 250px;
    box-shadow: 0 0 0 rgba(145, 183, 250, 0);
    transform: scaleX(1) skewX(0deg);
  }
  55% {
    left: 250px;
    transform-origin: 100% 0;
    transform: scaleX(0.9);
  }
  75% {.elementor-15 .elementor-element.elementor-element-b342010 .elementor-heading-title
    transform: scaleX(1.05) skewX(3deg);
  }
  100% {
    left: 0px;
    transform: scaleX(1) skewX(0deg);
  }
}

.smooth-runner {
  animation: motion-blur 5s ease-in-out infinite;
} /* End custom CSS */
